*{
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    
}

body{
    background-image: url('img/Static2.gif');
    background-color:rgb(0, 0, 0);
}
.cuerpo{
    padding: 2px 10px 10px 10px;
    margin: auto;
    max-width: 1200px;
    background-color: rgb(131, 55, 72);
    border-radius: 14px;
}

a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
}

a:hover{
    font-size: 120%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo{
    width: auto;
    height: 90px;
    cursor: pointer;
    border-radius: 7px;
}

.opciones{
    width: 100%;
   margin: -15px;
}

.cuadros{
    text-align: center;

background-color: rgb(225, 225, 225);
border-radius: 15px;
  border: 4px rgb(150, 19, 78) solid;
  
}

.cuadros h1{
    top: 10%;
    color: rgb(36, 130, 133);
}

.cuadros p{
    padding-left: 20px;
    padding-right: 20px;
}

hr{
    border: none;
    background-color: black;
    height: 2px;
    width: 80%;
    margin: 20px auto;
}


.banner{
    padding: 15px ;
  background-color: rgb(225, 225, 225);
  border: 4px rgb(150, 19, 78) solid;
  border-radius: 15px;
}

.fotoperfil{
    padding-top: 0;
    margin-top: 0;
    border-radius: 100%;
    border: 4px solid black;
}

.banner img{
    width: 60%;
    height: auto;
    
}

.bannercolumna{
    width: 20%;
    position: sticky;
    top: 10px;
}

.diariocolumna{
   flex-grow: 1; 
  min-width: 0;
}

h1{
    font-size: 25px;
}

.banner p{
    font-size: 13px;
    text-align: left;
}

.contenedor-principal {
  display: flex; 
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: rgba(203, 206, 139, 0.65);
  border-radius: 3px;
  align-self: flex-start;
  
}


.banner {
    position: sticky;
  flex: 0 0 200px; 
  top: 20px;
  align-self: flex-start;

}

.columna-contenido {
    flex-grow: 2; 
 min-width: 0; 
 width: auto;
 
}

.sobimg{
    border-radius: 9px;
    box-shadow: black 3px 4px 4px;
    height: auto;
}

.diario{
  background-color: rgba(203, 206, 139, 0.189);
    width: auto;
    height: 300px; 
    border: 3px rgb(150, 19, 78) solid;
    overflow: scroll;
    padding: 0;
    margin: 20px;
    border-radius: 4px;
}
.textodiario{ 
    height: 400px;
}
 
.columna-contenido2 {
flex: 0 0 100px; 
 
}

.penguin{
    border-radius: 14px;
    border: 4px rgb(150, 19, 78) solid;
    height: 260px;

}


.imagen{
    height: 40px;
}
table{
    margin-left: auto;
    margin-right: auto;
}

.contenido-scroll{
  background-color: rgba(203, 206, 139, 0.189);
    width: auto;
    height:335px; 
    border: 3px rgb(150, 19, 78) solid;
    overflow-x: auto;
    padding: 0;
    margin: 20px;
    border-radius: 19px; 
    
}

.contenido-scroll-proyectos{
  background-color: rgba(203, 206, 139, 0.189);
    width: auto;
    height:700px; 
    overflow-x: auto;
    padding: 0;
    margin: 20px;
    border-radius: 19px; 
    
}

iframe{
    border: 3px rgb(150, 19, 78) solid;
    border-radius: 18px;
}

.h1{color: rgb(36, 130, 133);}