*{
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    
}

.cuerpo{
    padding: 20px 25px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: rgb(45, 103, 153);
    border-radius: 14px;
}


.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.logo{
    width: auto;
    height: 90px;
    cursor: pointer;
}

.opciones{
    background-color: aquamarine;
    border-radius: 14px;
    width: 100%;
}

.publicaciones{
    margin-top: 2%;
background-color: rgb(225, 225, 225);
border-radius: 18px;
}

.publicaciones h1{
    top: 10%;
}

.publicaciones p{
    padding-left: 20px;
    padding-right: 20px;
}


.topdiario{
    background-color: rgba(128, 128, 128, 0.423);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.topdiario h2{
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

.fecha{
    width: 100%;
}
.topdiario p{
    text-align: right;
}

.textodiario{
    padding: 20px;
}

.secciones{
    padding: 40px;
    
}


.banner{
    padding: 15px ;
  background-color: aquamarine;
  border-radius: 15px;
}

.fotoperfil{
    border-radius: 14px;
}

.banner img{
    width: 60%;
    height: auto;
    
}

.bannercolumna{
    width: 20%;
    position: sticky;
    top: 10px;
}

.diariocolumna{
    display: inline-block;
    width: 80%;
}

.banner p{
    font-size: 13px;
    text-align: left;
}

.contenedor-principal {
  display: flex; 
  gap: 20px;
  padding: 20px;
}

.banner {
  flex: 0 0 250px; 
  
}

.columna-contenido {
  flex-grow: 0; /* Permite que esta columna crezca para ocupar el espacio restante */
 min-width: 0; /* Importante para el correcto funcionamiento del encogimiento */
}

.instagrambtn{
      width: 30px;
  height: 0px;
}
 

/* Estilo para telefonos */

@media (max-width: 768px) {
       .cuerpo {
        margin: 10px; 
        padding: 10px;
    }

    .contenedor-principal {
        flex-direction: column;
        gap: 0;    }

    .banner,
    .diariocolumna {
          width: 100%;
        flex: none; 
        position: static; 
    }
}